@model IEnumerable<CYCMSchool.Models.Term>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TermNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
